article.first-article
    img.first-article__image(src="img/first-article-photo.jpg")
    .first-article__textbox
        a.first-article__category(href="") Photodiary
        h3.first-article__title The perfect weekend getaway
        p.first-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus fugiat cum, earum totam provident officiis temporibus molestias cumque, delectus hic sint excepturi aliquid beatae nihil tenetur vel deleniti unde, consectetur doloremque nam. Velit aut esse, explicabo, tempore ratione iusto eum dolorum illo quo vel maiores illum. Non ut eius adipisci porro, quam corporis aperiam, possimus velit quia quas, est dolorum? Ratione numquam nesciunt, quod, quo repudiandae sed suscipit tempore voluptate aperiam voluptatum velit qui deserunt, veritatis necessitatibus maiores laudantium alias. Nemo, officia, consequatur reprehenderit quisquam unde cumque alias distinctio laborum culpa voluptatibus fugiat optio est eos, sequi rem perferendis nulla.
        a.first-article__comment-button(href="") Leave a  comment