footer.footer-box
    .conditions
        a.conditions__terms(href="") Terms and conditions 
        a.conditions__privacy(href="") Privacy				
    .social
        a.follow(href="") Follow
        a.social__facebook(href="")
        a.social__twitter(href="")
        a.social__instagram(href="")