header
    .logo
        a.logo__title(href="#") Minimø
    .header-menu
        ul.header-menu__list
            li.header-menu__item
                a.header-menu__link(href="#") Lifestyle
            li.header-menu__item
                a.header-menu__link(href="#") Photodiary
            li.header-menu__item
                a.header-menu__link(href="#") Music
            li.header-menu__item
                a.header-menu__link(href="#") Travel