.short-articles-box
    article.short-article
        img.short-article__image(src="img/short-article-5.jpg")
        .short-article__textbox
        a.short-article__category(href="") Lifestyle
        h3.short-article__title Top 10 song for running
        p.short-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
    article.short-article
        img.short-article__image(src="img/short-article-6.jpg")
        .short-article__textbox
        a.short-article__category(href="") Lifestyle
        h3.short-article__title Cold winter days
        p.short-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 