<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Ubuntu" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Minimo Blog</title>
  </head>
  <body>
    <header>
      <div class="logo"><a href="#" class="logo__title">Minimø</a></div>
      <div class="header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item"><a href="#" class="header-menu__link">Lifestyle</a></li>
          <li class="header-menu__item"><a href="#" class="header-menu__link">Photodiary</a></li>
          <li class="header-menu__item"><a href="#" class="header-menu__link">Music</a></li>
          <li class="header-menu__item"><a href="#" class="header-menu__link">Travel</a></li>
        </ul>
      </div>
    </header>
    <article class="first-article"><img src="img/first-article-photo.jpg" class="first-article__image">
      <div class="first-article__textbox"><a href="" class="first-article__category">Photodiary</a>
        <h3 class="first-article__title">The perfect weekend getaway</h3>
        <p class="first-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus fugiat cum, earum totam provident officiis temporibus molestias cumque, delectus hic sint excepturi aliquid beatae nihil tenetur vel deleniti unde, consectetur doloremque nam. Velit aut esse, explicabo, tempore ratione iusto eum dolorum illo quo vel maiores illum. Non ut eius adipisci porro, quam corporis aperiam, possimus velit quia quas, est dolorum? Ratione numquam nesciunt, quod, quo repudiandae sed suscipit tempore voluptate aperiam voluptatum velit qui deserunt, veritatis necessitatibus maiores laudantium alias. Nemo, officia, consequatur reprehenderit quisquam unde cumque alias distinctio laborum culpa voluptatibus fugiat optio est eos, sequi rem perferendis nulla.</p><a href="" class="first-article__comment-button">Leave a  comment</a>
      </div>
    </article>
    <div class="short-articles-box">
      <article class="short-article"><img src="img/short-article-1.jpg" class="short-article__image">
        <div class="short-article__textbox"></div><a href="" class="short-article__category">Lifestyle</a>
        <h3 class="short-article__title">More than just a music festival </h3>
        <p class="short-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </article>
      <article class="short-article"><img src="img/short-article-2.jpg" class="short-article__image">
        <div class="short-article__textbox"></div><a href="" class="short-article__category">Lifestyle</a>
        <h3 class="short-article__title">Life tastes better with coffee</h3>
        <p class="short-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </article>
      <article class="short-article"><img src="img/short-article-3.jpg" class="short-article__image">
        <div class="short-article__textbox"></div><a href="" class="short-article__category">Photodiary</a>
        <h3 class="short-article__title">American dream</h3>
        <p class="short-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </article>
      <article class="short-article"><img src="img/short-article-4.jpg" class="short-article__image">
        <div class="short-article__textbox"></div><a href="" class="short-article__category">Photodiary</a>
        <h3 class="short-article__title">A day exploring the Alps</h3>
        <p class="short-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </article>
    </div>
    <div class="sign-up-line">
      <h4 class="sign-up-line__title">Sign up for our newsletter!</h4>
      <form class="sign-up-line__form">
        <input type="text" class="sign-up-line__email">
        <input type="submit" class="sign-up-line__submit">
      </form>
    </div>
    <div class="short-articles-box">
      <article class="short-article"><img src="img/short-article-5.jpg" class="short-article__image">
        <div class="short-article__textbox"></div><a href="" class="short-article__category">Lifestyle</a>
        <h3 class="short-article__title">Top 10 song for running</h3>
        <p class="short-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </article>
      <article class="short-article"><img src="img/short-article-6.jpg" class="short-article__image">
        <div class="short-article__textbox"></div><a href="" class="short-article__category">Lifestyle</a>
        <h3 class="short-article__title">Cold winter days</h3>
        <p class="short-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labordolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </article>
    </div>
    <button class="load-more">Load more</button>
    <footer class="footer-box">
      <div class="conditions"><a href="" class="conditions__terms">Terms and conditions </a><a href="" class="conditions__privacy">Privacy				</a></div>
      <div class="social"><a href="" class="follow">Follow</a><a href="" class="social__facebook"></a><a href="" class="social__twitter"></a><a href="" class="social__instagram"></a></div>
    </footer>
  </body>
</html>