.box2 {
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 200px;
  height: 150px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px; }

.button {
  width: 200px;
  height: 80px;
  line-height: height;
  text-align: center;
  font-size: 60px;
  color: #3c883c;
  border: 1px solid black;
  display: block;
  text-decoration: none;
  margin: 0 auto; }
  .button:hover {
    background-color: orange; }
  .button:active {
    background-color: red; }

.box {
  background-color: #3c883c;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px; }
