input {
    display: none;
}
span, input, label{
    font-weight: bold;
}

/*----------------red------------------*/


[for="red"] {
    color: red;
    text-decoration: underline;
    margin-left: 30px;
}

#red:checked ~ [for=red] {
    opacity: 0.3;
}

#red:checked ~ .red {
    display: none;
}

.red{
    color: #ffffff;
    background-color: red;
    border-radius: 15px;
    padding: 5px;
}



/*-----------------green----------------*/


[for="green"] {
    color: green;
    text-decoration: underline;
    margin-left: 30px;
}

#green:checked ~ [for=green] {
    opacity: 0.3;
}


#green:checked ~ .green {
    display: none;
}

.green{
    color: #ffffff;
    background-color: green;
    border-radius: 15px;
    padding: 5px ;
}

/*----------------blue------------------*/


[for="blue"] {
    color: blue;
    text-decoration: underline;
    margin-left: 30px;
    margin-right: 30px;
}

#blue:checked ~ [for=blue] {
    opacity: 0.3;
}

#blue:checked ~ .blue {
    display: none;
}

.blue{
    color: #ffffff;
    background-color: blue;
    border-radius: 15px;
    padding: 5px;
}







