<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Ubuntu" rel="stylesheet"> 
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>Minimo Blog</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
               <a class="logo__title" href="">Minimø</a>
            </div>
            <div class="header-menu">
                <ul class="header-menu__list">
                    <li class="header-menu__title"><a class="header-menu__link" href="">Lifestyle</a></li>
                    <li class="header-menu__title"><a class="header-menu__link" href="">Photodiary</a></li>
                    <li class="header-menu__title"><a class="header-menu__link" href="">Music</a></li>
                    <li class="header-menu__title"><a class="header-menu__link" href="">Travel</a></li>
                </ul>
            </div>
        </header>
        <article class="first-article">
            <img src="/img/first-article-photo.jpg" alt="" class="first-article__image">
            <div class="first-article__textbox">
            <a class="first-article__category" href="">Photodiary</a>
            <h2 class="first-article__title">The perfect weekend getaway</h2>
            <p class="first-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus fugiat cum, earum totam provident officiis temporibus molestias cumque, delectus hic sint excepturi aliquid beatae nihil tenetur vel deleniti unde, consectetur doloremque nam. Velit aut esse, explicabo, tempore ratione iusto eum dolorum illo quo vel maiores illum. Non ut eius adipisci porro, quam corporis aperiam, possimus velit quia quas, est dolorum? Ratione numquam nesciunt, quod, quo repudiandae sed suscipit tempore voluptate aperiam voluptatum velit qui deserunt, veritatis necessitatibus maiores laudantium alias. Nemo, officia, consequatur reprehenderit quisquam unde cumque alias distinctio laborum culpa voluptatibus fugiat optio est eos, sequi rem perferendis nulla.</p>
            <a class="first-article__comment-button" href="">Leave a  comment</a>
            </div>
        </article>
    </div>
</body>
</html>