<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="navmenu">
                <li>1пункт</li>
                <li>1пункт</li>
                <li>1пункт</li>
                <li>1пункт</li>
                <li>1пункт</li>
                <li>1пункт</li>
            </div>
        </nav>
    </header>
    <section>
        
    </section>
    <footer>
        
    </footer>
</body>
</html>