
header {
}

header nav {
}

header .navmenu {
    width: 900px;
    height: 300px;
    background: #6ef27d;
    margin: 0 auto;
}

header li {
    margin: 100px 20px;
    display: inline-block;
    text-align: justify;
}

section {
}

footer {
}