<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>@import 'https://fonts.googleapis.com/css?family=Montserrat';</style> 
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>MoGo_by_Laaqiq</title>
</head>
<body>
   
    <header>
       <div class="top">
        <a href="#" class="logo">MoGo</a>
           <nav>
               <a class="search" href=""><img src="img/MAGNIFYING-GLASS.png" alt=""></a>
               <a class="shopping_cart" href=""><img src="img/SHOPPING-CART.png" alt=""></a>
                <ul>
                    <li><a href="#">about</a></li>
                    <li><a href="#">service</a></li>
                    <li><a href="#">work</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">contact</a></li>
                </ul>                
            </nav>
       </div>
       <h2 class="kaushanscript">Creative Template</h2>
       <h2 class="montserrat">Welcome<br>to mogo</h2>
       <hr class="line">
       <a href="#" class="headerbutton">learn more</a>
       <ol class="btm_list">
           <a href=""><li class="item1">intro</li></a>
           <a href=""><li class="item2">work</li></a>
           <a href=""><li class="item3">about</li></a>
           <a href=""><li class="item4">contacts</li></a>
       </ol>
    </header>
    
    <article class="about_us">
        <h2 class="kaushanscript">What we do</h2>
        <h2 class="montserrat">Story about us</h2>
        <hr class="line">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <div class="img_container">
            <a href=""><img src="img/about_us_1.jpg" alt=""></a>
            <a href=""><img src="img/about_us_2.jpg" alt=""></a>
            <a href=""><img src="img/about_us_3.jpg" alt=""></a>
        </div>
    </article>
    
</body>
</html>