<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>@import 'https://fonts.googleapis.com/css?family=Montserrat';</style> 
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>MoGo_by_Laaqiq</title>
</head>
<body>
   
    <header>
       <div class="top">
        <a href="#" class="logo">MoGo</a>
           <nav>
               <a class="search" href=""><img src="img/MAGNIFYING-GLASS.png" alt=""></a>
               <a class="shopping_cart" href=""><img src="img/SHOPPING-CART.png" alt=""></a>
                <ul>
                    <li><a href="#">about</a></li>
                    <li><a href="#">service</a></li>
                    <li><a href="#">work</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">contact</a></li>
                </ul>                
            </nav>
       </div>
       <h2 class="kaushanscript">Creative Template</h2>
       <h2 class="montserrat">Welcome<br>to mogo</h2>
       <hr class="headerline">
       <a href="#" class="headerbutton">learn more</a>
       <ol class="btm_list">
           <li class="item1"><a href="">intro</a></li>
           <li class="item2"><a href="">work</a></li>
           <li class="item3"><a href="">about</a></li>
           <li class="item4"><a href="">contacts</a></li>
       </ol>
    </header>
    
</body>
</html>