<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<link rel="stylesheet" href="Style.css">
</head>
<body>
	<div class="left">
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed perferendis obcaecati iste id deleniti a dicta delectus expedita aliquam dolores, eligendi, quis temporibus eos omnis architecto vel! Voluptatem sit totam tempora corrupti recusandae earum dolores, qui officiis magni, est repellendus nulla amet animi quas. Iusto commodi voluptatibus modi cumque expedita eveniet explicabo? Veritatis dolore mollitia, libero aspernatur odio, expedita aliquid explicabo temporibus nisi laborum repellat sapiente. Magnam vitae provident repudiandae quae animi fugit expedita, cum dolore iusto eaque. Sequi eum tempora odit ipsum, sit mollitia deleniti culpa placeat quidem laboriosam corporis voluptatibus voluptates!</p>
	</div>
	<div class="right"></div>
</body>
</html>