* {
    padding: 0;
    margin: 0;
}

p {
    font: bold 20px Tahoma;
}

.left {
    width: auto;
    height: 500px;
    background-color: blueviolet;
    margin-right: 410px;
    min-width: 400px;
}

.right {
    width: 400px;
    height: 500px;
    background-color: coral;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    
}