*{
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 24px;
    text-shadow: 0 0 4px black;
    display: flex;
    justify-content: space-between;
    margin-bottom:0.8em;
}

.sivtsev {
    margin: 20px auto;
    width: 1000px;
    text-align: justify;
    
}


.sight01 {
    font-size: 100px;
}

.sight02 {
    
}

.sight03 {
    
}

.sight04 {
    
}

.sight04 {
    
}

.sight05 {
    
}

.sight06 {
    
}

.sight07 {
    
}

.sight08 {
    
}

.sight09 {
    
}

.sight10 {
    
}



.uline {
    
}



.sight15 {
    
}

.sight20 {
    
}


































