<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
  <div class="menu"></div>
   <div class="container">
       <div class="left"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum, ipsum voluptates expedita et ullam aut fugit voluptas accusamus, laboriosam, sint necessitatibus provident, repudiandae atque. Expedita, aliquid pariatur ad! Labore adipisci quas dolorum ducimus dignissimos, culpa iusto id fugit sequi.Labore adipisci quas dolorum ducimus dignissimos, culpa iusto id fugit sequi.</p></div>
       <div class="center"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum, ipsum voluptates expedita et ullam aut fugit voluptas accusamus, laboriosam, sint necessitatibus provident, repudiandae atque. Expedita, aliquid pariatur ad! Labore adipisci quas dolorum ducimus dignissimos, culpa iusto id fugit sequi.</p></div>
       <div class="right"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum, ipsum voluptates expedita et ullam aut fugit voluptas accusamus, laboriosam, sint necessitatibus provident, repudiandae atque. Expedita, aliquid pariatur ad! Labore adipisci quas dolorum ducimus dignissimos, culpa iusto id fugit sequi.</p></div>
   </div> 
   <div class="menu"></div>   
</body>
</html>