*{
    padding: 0px;
    margin: 0px;
}



.reviews_container {
    text-align: center;
    background-image: url(images/clients_bacrgroumd.jpg);
    width: 100%;
    display: inline-block;
    padding: 50px 0px;

}





.reviews_container h2 {
    text-transform: uppercase;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    color: #4866e2;
    font-size: 36px;
    padding-bottom: 20px;
}

.reviews_container h2 span{
    color: #ee8129;
}






.client {
    display: inline-block;
    margin: 20px 30px 30px 30px;
    position: relative;
}

.client_photo{
    margin: 0px 20px 0px 0px;
}

.client_review {
    text-align: left;
    width: 300px;
    padding: 5px 15px 15px 15px;
    display: inline-block;
    vertical-align:top;
    background-color: #fff;
    position: relative;
}

.client_review:before {
    left: -20px;
    top: 32px;
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
}


.review_header {
    position: relative;
    border-bottom: 1px dotted #000;
    padding: 7px;
}

.client_name {
    position: relative;
}
.client_name:before {
    content: '-';
    position: relative;
    left: -7px;
    top: -1px;
    color: #3070a8;
}

.client_status {
    position: absolute;
    right: 0px;
    top: 6px;
}

.client_name,
.client_status {
    font-family: Trebuchet MS, Arial;
    font-style: italic;
    color: #3070a8;
    font-size: 13px;
}

.client_review p{
    padding: 4px 0px 4px 0px;
    font-family: Trebuchet MS, Arial;
    color: #535353;
    font-size: 13px;
    line-height: 1.6em;    
}



