* {
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
}

.offers h2 {
    margin: 30px 0px 30px 0px;
    text-transform: uppercase;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: 26px;
    color: #454545;

}
/*-----------------------------------------*/

.price_container {
    margin: 50px auto;
    text-align: center;
}

.blue {
    position: relative;
    display: inline-block;
    background-color: #4ac1d1;
    border-radius: 6px;
    width: 290px;
    padding: 0px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5)
}
.blue.main.button {
     background-color: #2028e8;
    
}

.orange {
    z-index: 1;
    position: relative;
    margin: -5px;
    vertical-align: 20px;
    display: inline-block;
    background-color: #ee8129;
    border-radius: 6px;
    width: 290px;
    padding: 0px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.aqua {
    position: relative;
    display: inline-block;
    background-color: #62d1a7;
    border-radius: 6px;
    width: 290px;
    padding: 0px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5)
}


/*-----------------------------------------*/

.header {
    padding: 30px 0px 25px 0px;
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    margin: 0px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-weight: bold;
}

.main {
    background: #fff;
    padding: 15px 0px 25px 0px;
    margin: 0px;
}

.title {
    font-family: monospace; 
    font-size: 20px;
    padding: 5px 0px 0px 0px;
    color: #324555;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.price {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    font-size: 60px;
    font-weight: bold;
    color: #324555;
    padding: 15px 0px 20px 0px;
}

.pricetext:before {
    content: '$';
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
    
        
}
.pricetext:after {
    content: 'Monthly';
    font-size: 15px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
}

li{
    list-style-type: none;
}

.list li{
    background-color: #e4f0fc;
    color: #979ca3;
    font-size: 14px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    text-align: left;
    margin: 1px 15px ;
    padding: 7px 25px;
}

.list li:nth-child(2n){
    background-color: #f5f5f6;
}

.list li:before {
    content: " ";
    display: block;
    height: 15px;
    width: 10px;
    background: url(mark.png) no-repeat;
    float: left;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 15px;
}

.list {
    margin: 0px 0px 15px 0px;
}

a.button{
    display: block;
    text-decoration: none;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background-color: #ee8129;
    border-radius: 5px;
    padding: 10px 0px 0px 0px;
    height: 25px;
    width: 250px;
    margin: 0px auto 0px ;
    border-color: #b3560b;
    border-style: solid;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
}

.button_blue {
    display: block;
    text-decoration: none;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background-color: #4866e2;
    border-radius: 5px;
    padding: 10px 0px 0px 0px;
    height: 25px;
    width: 250px;
    margin: 0px auto 0px ;
    border-color: #1f2d64;
    border-style: solid;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    
}
a.button:hover {
    text-shadow: 1px 1px 1px #fcfcb3;
}

.button_blue:hover {
    text-shadow: 1px 1px 1px #fcfcb3;
}




















