header, section, footer, aside, nav, main, article, figure {
    display: block;
} 

* {
    margin: 0;
    padding: 0;
}

body {
/*    background-color: #ddd;*/
    font: 15px arial, sans-serif;
}

.headerdiv {
    width: 100%;
    height: 350px;
    background-image: url(img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.lang {
    position: absolute;
    top: 10px;
    right: 10px;
}

.lang div {
    display: inline-block;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 2px;
    background-color: #bfbfbf
}

.lang div a {
    color: #000;
    text-decoration: none;
    background-color: #bfbfbf
}

nav {
    padding: 40px 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-shadow: 1px 1px 2px black, 0 0 1em #000000;
    color: #fff;
    margin: 0px 30px 0px 30px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

nav a:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
    border-bottom: 1px solid #000;
    color: #000;
}


.headerdiv h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em #000000;
    font-size: 50px;
    margin-left: 30%;
    margin-top: 50px;
    color: #fff;
}

.headerdiv h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em #000000;
    font-size: 40px;
    margin-left: 30%;
    margin-top: 30px;
    color: #fff
}


/*-------------------------------------*/

section {
    margin: 40px 0;
}

div.content {
    
    padding: 30px 250px 30px 30px;
    width: 50%;
    margin: 2% 25%;
    background-color: #fff;
/*    box-shadow: 5px 5px 5px gray;*/
}

div.content p {
    text-indent: 20px;
}

#content_1 {
    font-size: 30px;
    padding: 30px 250px 30px 30px;
}

#content_2{
    padding: 30px 30px 30px 250px;
    background-image: url(img/key_h_bg_2.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#content_3{
    padding: 30px 250px 30px 30px;
    background-image: url(img/key_h_bg_3.png);
    background-repeat: no-repeat;
    background-position: right center;
}


/*-------------------------------------*/


#video-container {
    height: 350px;
    position: relative;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

video {
    top:-100px;
	left:0px;
	width:100%;
	position:absolute;
	z-index:-1;
}

#video-container p {
    margin-top: 50px;
    font-size: 40px;
    color: #fff;
    z-index: 10;
}






















