header, section, footer, aside, nav, main, article, figure {
    display: block;
} 

* {
    margin: 0;
    padding: 0;
}

body {
/*    background-color: #ddd;*/
    font: 15px arial, sans-serif; 
}

.logo {
    width: 1000px;
    margin: 40px auto;
}
    
div.lang {
    position: absolute;
    top: 10px;
    right: 10px;
}

.lang div {
    display: inline-block;
    margin: 4px;
/*
    border: 1px solid #000;
    border-radius: 2px;
    background-color: #bfbfbf
*/
}

.btn_ru {
    background-image: url(img/icons/rus.png);
    width: 46px;
    height: 33px;
}

.btn_eng {
    background-image: url(img/icons/eng.png);
    width: 46px;
    height: 33px;
}


.headerdiv {
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url(img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
}

.headerdiv h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em #000000;
    font-size: 50px;
    padding-top: 70px;
    color: #fff;
}

.headerdiv h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em #000000;
    font-size: 30px;
    margin-top: 20px;
    color: #fff
}




nav {
    margin: 40px auto;
    width: 1000px;
    padding: 40px 0;
}

nav li {
    display: inline-block;
    text-align: center;
    margin: 0px 30px 0px 30px;
}

nav a {
    text-shadow: 1px 1px 2px black, 0 0 1em #000000;
    color: #fff;
    
    text-decoration: none;
}

nav a:hover {
    text-shadow: 2px 2px 20px black, 0 0 1em #000000;
/*    border-bottom: 1px solid #000;*/
/*    color: #fff;*/
}

nav li img {
    display: block;
    margin: 0 auto;
}


nav span {
    border-bottom: 1px solid #fff;
}


/*-------------------------------------*/

section {
    margin: 40px 0;
}

div.content {
    
    padding: 30px 250px 30px 30px;
    width: 50%;
    margin: 2% 25%;
    background-color: #fff;
/*    box-shadow: 5px 5px 5px gray;*/
}

div.content p {
    text-indent: 20px;
}

#content_1 {
    text-align: center;
    font-size: 30px;
    padding: 30px 30px 30px 30px;
    
}

#content_2{
    padding: 30px 30px 30px 250px;
    background-image: url(img/key_h_bg_2.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#content_3{
    padding: 30px 250px 30px 30px;
    background-image: url(img/key_h_bg_3.png);
    background-repeat: no-repeat;
    background-position: right center;
}


/*-------------------------------------*/


#video-container {
    height: 350px;
    position: relative;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

video {
    top:-100px;
	left:0px;
	width:100%;
	position:absolute;
	z-index:-1;
}

#video-container p {
    margin-top: 50px;
    font-size: 40px;
    color: #fff;
    z-index: 10;
}






















