/*sign-up-line*/

.sign-up-line {
    height: 290px;
    background-color: #f0f0f0;
    margin-bottom: 100px;
    text-align: center;
}
.sign-up-line__title {
    padding: 70px;
    font-size: 30px;
    color: $main-text-color;
    font-family: $main-font;
}
.sign-up-line__form {
}
.sign-up-line__email {
}
.sign-up-line__submit {
}

/*sign-up-line*/