* {
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

body {

}
.container {
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;    
}

.block_comment {
    box-sizing: border-box;
    outline: 1px solid #f00;
    display: inline-block;
    position: relative;
    width: 50%;
    white-space: normal;
}

.div_comment{
    min-height: 85px;
    margin-left: 85px;
    white-space: normal;
    

}

.block_comment:nth-child(even) {
    
}

.block_comment img {
    position: absolute;
    top: 0;
    left: 0;
}



.block_comment h3 {
    position: relative;
    font-size: 22px;
    color: #637f83;
}

p.comment{
    line-height: 1.5em;
    font-size: 14px;
    color: #959595;
}

p.comment:after {
    content: ' + more';
    color: #e4551d;
}
